<p id="notice"><%= notice %></p>
<h5> Comparison of you and your partners choice </h5>

<% if current_user.partner && current_user.partner.done?%> 
    <% if current_user.partner.done? %>
        <%# two tables one for current user(p1) and other for partner (p2)%>
        <%# first iterate through will to share, then apps, then signal that they currently share it%>
        <p>
        <% ['willing','likely','unwilling'].each do |willingness|%>
            <% if willingness=='willing' %>
            <table>
                <colgroup>
                    <col span="3">
                </colgroup>
                <td></td>
                <td>
                    <h6>You</h6>
                </td>
                <td>
                    <h6>Your Partner</h6>
                </td>
            <tbody>
                <tr>
    
                    <td>
                        <h6> Willing to Share </h6>
                    </td>
                    <td>
                        <% @current_user.user_apps.each do |cuser_app|%>
                        <% if cuser_app.will_to_share=='willing' %>
                            <%= App.find(cuser_app.app_id).name%>
                            <% if cuser_app.currently_sharing %>
                                <%= image_tag("yes.png", :height => '3%', :width => 'auto') %> <br/>
                            <% else %>
                                <%= image_tag("no.png", :height => '1%', :width => 'auto' ) %> <br/>
                            <%end%>    
                        <%end%>
                        <%end%>
                    </td>
                    <td>
                        <% @current_user.partner.user_apps.each do |puser_app|%>
                        <% if puser_app.will_to_share=='willing' %>
                            <%= App.find(puser_app.app_id).name%>
                            <% if puser_app.currently_sharing %>
                                <%= image_tag("yes.png", :height => '3%', :width => 'auto') %> <br/>
                            <% else %>
                                <%= image_tag("no.png", :height => '1%', :width => 'auto' ) %> <br/>
                            <%end%>    
                        <%end%>
                        <%end%>
                    </td>
                    
                </tr>
            </tbody>
            <% elsif willingness=='likely' %>
            <tbody>
                <tr>
    
                    <td>
                        <h6> Likely to Share   </h6>
                    </td>
                    <td>
                        <% @current_user.user_apps.each do |cuser_app|%>
                        <% if cuser_app.will_to_share=='likely' %>
                            <%= App.find(cuser_app.app_id).name%>
                            <% if cuser_app.currently_sharing %>
                                <%= image_tag("yes.png", :height => '3%', :width => 'auto') %> <br/>
                            <% else %>
                                <%= image_tag("no.png", :height => '1%', :width => 'auto' ) %> <br/>
                            <%end%>    
                        <%end%>
                        <%end%>
                    </td>
                    <td>
                        <% @current_user.partner.user_apps.each do |puser_app|%>
                        <% if puser_app.will_to_share=='likely' %>
                            <%= App.find(puser_app.app_id).name%>
                            <% if puser_app.currently_sharing %>
                                <%= image_tag("yes.png", :height => '3%', :width => 'auto') %> </br>
                            <% else %>
                                <%= image_tag("no.png", :height => '1%', :width => 'auto' ) %> <br/>
                            <%end%>    
                        <%end%>
                        <%end%>
                    </td>
                    
                </tr>
            </tbody>
            <% elsif willingness=='unwilling' %>
            <tbody>
                <tr>
    
                    <td>
                        <h6> Unwilling to Share </h6>
                    </td>
                    <td>
                        <% @current_user.user_apps.each do |cuser_app|%>
                        <% if cuser_app.will_to_share=='unwilling' %>
                            <%= App.find(cuser_app.app_id).name%>
                            <% if cuser_app.currently_sharing %>
                                <%= image_tag("yes.png", :height => '3%', :width => 'auto') %> <br/>
                            <% else %>
                                <%= image_tag("no.png", :height => '1%', :width => 'auto' ) %> <br/>
                            <%end%>    
                        <%end%>
                        <%end%>
                    </td>
                    <td>
                        <% @current_user.partner.user_apps.each do |puser_app|%>
                        <% if puser_app.will_to_share=='unwilling' %>
                            <%= App.find(puser_app.app_id).name%>
                            <% if puser_app.currently_sharing %>
                                <%= image_tag("yes.png", :height => '3%', :width => 'auto') %> <br/>
                            <% else %>
                                <%= image_tag("no.png", :height => '1%', :width => 'auto' ) %> <br/>
                            <%end%>    
                        <%end%>
                        <%end%>
                    </td>       
                </tr>
            </tbody>
            </table>
            <%end%>
            
        <% end %>
        <br/>
        <%= image_tag("yes.png", :height => '15', :width => '15') %>: currently sharing <br/>
        <%= image_tag("no.png", :height => '15', :width => '15' ) %>: currently not sharing <br/>
        <br/>
    <% else %>
        <h6>Your partner has not filled out their preferences yet</h6>
    <% end %>

<% else %>
    <h6>Please add your partner first</h6>
<% end %>
<%= link_to 'Back', user_path(current_user)  %>
