<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Partner:</strong>
  <%= if @user.partner then @user.partner.username else link_to("Add Partner", edit_user_path(@user)) end %>
</p>

 

<%= link_to "Show", show_result_path(current_user) %> 


<%= link_to 'Back', users_path %>
