<p id="notice"><%= notice %></p>
<h5> Comparison of you and your partners choice </h5>
<<<<<<< HEAD
<% if current_user.partner && current_user.partner.done? %>
    Preferences displayed here
    <p>
         <strong>Username:</strong>
        <%= @current_user.username %>
    </p>
    <table>
    <thead>
        <tr>
            <th></th>
            <th>You</th>
            <th></th>
            <th></th>
            <th>Partner</th>
        <th colspan="7"></th>
        </tr>
    </thead>
    <tbody>
    <%= @current_user.each do |willingness| %>
    <%= @current_user.user_apps.each do |app| %>
        <tr>
            <td>
                willingness
            
            </td>
            
        //addd everything that matches with willingness
        <tr>
            <td>
                <%=app.will_to_share%>
                <%= app.app_id %>
                <%=app.id%>
            </td>
            <td>
                <%= @current_user.username %>
            </td>
            <td></td>
            <td>
            <% if @current_user.partner.app_ids.include?(app.app_id) %>
                <%= @current_user.partner.username %>
                <% end %>
            </td>
        
        </tr>
    <% end %>
    <% end %>
    </tbody>
    </table>
    
    <p>
    <%= @current_user.partner.apps.ids%>
    <%= [@current_user.partner.user_apps.ids]%>
    <%= [@current_user.partner.user_apps]%>

    
    <br/>
    <%= @current_user.partner.apps.each do |app|%>
        <%= app.name %> <br/>
    <% end %>
    </p>
    <p>
    <%= @current_user.partner.user_apps.each do |user_app|%>
        <%= user_app.will_to_share %> <br/>
    <% end %>
    </p>
    <p>
    <%= @current_user.partner.user_apps.each do |user_app|%>
        app: <%= user_app.currently_sharing %> <br/>
        value: <%= @current_user.partner[user_app] %>
    <% end %>
    </p>
    
    <p>
    <%= @current_user.apps.each do |app| %>
        app: <%= app.name %> <br/>
        value: <%= @current_user[app] %>
      <% end %>
    </p>
<%= link_to 'Back', user_path(current_user)  %>
<% else %>
    <h2>Your partner has not filled out their preferences yet</h2>
    <%= link_to 'Back', user_path(current_user)  %>
<% end %>
=======
<% if current_user.partner %> 
    <% if current_user.partner.done? %>
        Preferences displayed here
        <p>
                <strong>Username:</strong>
            <%= current_user.username %>
        </p>
        <%# two tables one for current user(p1) and other for partner (p2)%>
        <%# first iterate through will to share, then apps, then signal that they currently share it%>
        <p>
        <% @current_user.partner.user_apps.each do |user_app|%>
            <% if user_app.will_to_share=='willing' %>
            <table>
            <tbody>
                <tr>
                    <td>
                        <h9> Willing to Share </h9>
                    </td>
                    <td>
                        <%= App.find(user_app.app_id).name%> 
                        <% if user_app.currently_sharing %>
                           : Yes
                        <% else %>
                            : No
                        <%end%><br/>

                    </td>
                    <td>
                        <%= App.find(user_app.app_id).name%>
                        <%=App.find(@current_user.id) %>
                        <% if App.find(@current_user.id).currently_sharing %>
                           : Yes
                        <% else %>
                            : No
                        <%end%><br/>
                    </td>
                </tr>
            </tbody>
            </table> 
                
                Your partner: <%= App.find(user_app.app_id).name%> <br/>
            <%end%>
        <% end %>
        </p>

        <p>
        <%= @current_user.user_apps.each do |user_app| %>
            <% if user_app.will_to_share=='willing' %> 
                You: <%= user_app.will_to_share%> <br/>
            <% end %>
        <% end %>
        </p> 
    <% else %>
        <h6>Your partner has not filled out their preferences yet</h6>
    <% end %>

<% else %>
    <h6>Please add your partner first</h6>
<% end %>
<%= link_to 'Back', user_path(current_user)  %>
>>>>>>> bc56df55bd5b1498a4c58fb08414e7b18fb05d91
