<p id="notice"><%= notice %></p>
<h5> Comparison of you and your partners choice </h5>
<% if @user.partner.done? %>
    Preferences displayed here
    <p>
         <strong>Username:</strong>
        <%= @user.username %>
    </p>
    <p>
    <%= @user.apps.values.each do |app|%>
        app: <%= app %> <br/>
        value: <%= @user[app] %>
    <% end %>
    </p>
    
    <p>
    <%= @user.apps.each do |app| %>
        app: <%= app %> <br/>
        value: <%= @user[app] %>
      <% end %>
    </p>

 
   


<%= link_to 'Back', user_path(current_user)  %>

<% else %>
    <h2>Your partner has not filled out their preferences yet</h2>
<% end %>