<p id="notice"><%= notice %></p>

<h1>User Apps</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>App</th>
      <th>Willingness to Share</th>
      <th>Currently Sharing?</th>
      <th>App</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_apps.each do |user_app| %>
      <tr>
        <td><%= link_to user_app.user.username, user_app.user %></td>
        <td><%= link_to user_app.app.name, user_app.app %></td>
        <td><%= user_app.will_to_share %></td>
        <td><%= user_app.currently_sharing %></td>
        <td><%= link_to 'Show', user_app %></td>
        <td><%= link_to 'Edit', edit_user_app_path(user_app) %></td>
        <td><%= link_to 'Destroy', user_app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
